<!doctype html> 
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,700,900i&display=swap" rel="stylesheet">
		<title>BAKSFYL</title>
		
</head>
<body>
	<header class= "header">		
		<nav class="nav">
			<a class="nav_link" href="categories.html">categories</a>
			<a class="nav_link" href="#">archieve</a>
			<a class="logo" href="index.html">BÂKSFYL</a>
			<a class="nav_link" href="about.html">about</a>
			<a class="nav_link" href="subscribe.html">subscribe</a>
		</nav>
		<!-- media urls -->
		<div class="social">
			<a href="https://instagram.com/m.malkin/"><img src="assets/images/insta.jpg" 
  			width="25px" height="25px" alt="instagram"></a>
  			<a href="https://instagram.com/m.malkin/"><img src="assets/images/telegr.png" 
  			width="25px" height="25px" alt="telegram"></a>
  			<a href="https://instagram.com/m.malkin/"><img src="assets/images/twi.png" 
  			width="25px" height="25px" alt="twitter"></a>
  			<a href="https://instagram.com/m.malkin/"><img src="assets/images/pin.png" 
  			width="25px" height="25px" alt="pinterest"></a>
  			<a href="https://instagram.com/m.malkin/"><img src="assets/images/fb.png" 
  			width="25px" height="25px" alt="pinterest"></a>
		</div>
	</header>

<footer class="footer">
		<a class="footer_logo" href="index.html">BÂKSFYL</a>
			<div class="footer_social">
					<a class="link_social" href="https://instagram.com/m.malkin/">Instagram</a>
  					<a class="link_social" href="https://instagram.com/m.malkin/">Telegram</a>
  					<a class="link_social" href="https://instagram.com/m.malkin/">Twitter</a>
  					<a class="link_social" class="link_social" href="https://instagram.com/m.malkin/">Pinterest</a>
  					<a class="link_social" href="https://instagram.com/m.malkin/">Facebook</a>

				</div>
	</footer>


</body>
</html>