{% extends 'blog/base.html' %}
{% load static %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
<script type="text/babel" src="{% static 'js/app.js' %}"></script>
{% block content %}
    <div class="post">
        {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
{% else %}
    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
{% endif %}
        {% if user.is_authenticated %}
     <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Draft</a>
     <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">REmove</a>
{% endif %}
        <div class="inpost" style="background-color: rgba(0, 0, 0, 0.2); display: flex;
    justify-content: space-around;">
        <img style="margin: 1rem;" src="{{post.image}}" height="400px" weigh="100%"/>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div><hr></div>
<!--     <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
{% for comment in post.comments.all %} -->
    <!-- {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %} -->
<article>
<div  class="container container_news" id = 'root'><span style="font-size:1.5rem;font-family:'Roboto',sans-serif;">Loading...</span></div>
</article>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin defer></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin defer></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel">
        class Post extends React.Component{
          constructor(props) {
            super(props);
            this.state = {
                data:[],
                author:'',
                text:'',
            }
            this.componentDidMount = this.componentDidMount.bind(this);
            this.delet = this.delet.bind(this);
            this.handleChange = this.handleChange.bind(this);
            this.fetchQuotes = this.fetchQuotes.bind(this);
        }
        componentDidMount() {
            this.reload = setInterval(this.fetchQuotes,1000);
        }
        fetchQuotes(){
                // Fetch тут
        fetch("http://127.0.0.1:8000/api/")
            .then((response) => response.json())
            .then((response) => {
                   this.setState({data:response});
            })
            .then((error) => {
                this.setState({false: true});
                this.setState({error});
            })
    }
        delet(event){
            var url = 'http://127.0.0.1:8000/api/';
            fetch(url, {
            method: 'POST',
                      headers: {
                        Accept: 'application/json',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{csrf_token}}',
                      },
                      body:JSON.stringify({
                      author: this.state.author,
                      text:this.state.text,
                      post:{{post.pk}},
                  })
                    })
            event.preventDefault();
        }
        handleChange(event){
        this.setState({[event.target.name]: event.target.value})
    }
        render(){
            let ListContent;
            if(this.state.data){
            ListContent = (
               this.state.data.map((block,index)=>{
               if(block.post == {{post.pk}}){
               return (<div><p>{block.created_date}</p>
                <p>{block.author}</p>
                <p>{block.text}</p></div>
               )}
                })
            )}
            return(<div className="container container_news">
            <form onSubmit={this.delet}>
                <input type="text" name="author" id = 'author' value={this.state.value} onChange={this.handleChange} placeholder="Enter name..." required/>
                <input type="text" name="text" id='text' value={this.state.value} onChange={this.handleChange} placeholder="Enter text..." required/>
                <button type='submit'>Add</button>
            </form>
        {ListContent}
    </div>);
        }
        }
    ReactDOM.render(<Post />, document.getElementById('root'));
    </script>

{% endblock %}